<section class="footer">

    <div class="logo-part">
      <img src="../../../assets/images/logo.png" alt="Cash Management Logo">
      <h3>Cash Management BD</h3>
      <h5>support@cashmanagementbd.com</h5>
    </div>
    <div class="navigation-part">
      <p><a href="">হোম</a></p>
      <p><a href="">শর্তাবলী</a></p>
      <p><a href="">যোগাযোগ</a></p>
    </div>
    <div class="reg-part">
      <button>রেজিস্ট্রেশন করুন</button>
      <div class="social-links">
        <div class="following"><p>অনুসরণ করুন</p></div>
         <div class="fb-link">
          <a href="#">
            <img src="../../../assets/icons/facebook.png" alt="Facebook">
          </a>
        </div>
        <div class="you-tube-link">
          <a href="#">
            <img src="../../../assets/icons/youtube.png" alt="Youtube">
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="copy-right">
    <h4>&copy; 2020 Cash Management BD.</h4>
  </section>


