<app-header></app-header>
<div class="container">
    <div class="container-left">
        <div class="contact-list">
            <div class="title">
                <h3>যেকোনো প্রয়োজনে</h3>
            </div>
            <div class="list-one list">
                <span><img src="../../../assets/icons/Group 22.png" alt=""></span>
                <p>০১৭৫৫৫৫৯৪৩৬</p>
            </div>
            <div class="list-two list">
                <span><img src="../../../assets/icons/Group 20.png" alt=""></span>
                <p>support@cashmanagmentbd.com </p>
            </div>
            <div class="list-three list">
                <span><img src="../../../assets/icons/Group 18.png" alt=""></span>
                <p>Road 12/16, Mirpur-10, Dhaka-1216</p>
            </div>
        </div>
    </div>

    <div class="container-right">
       <div class="form">
           <h3>আপনার মতামত</h3>
           <form action="#">
               <input type="text" placeholder="আপনার নাম">
               <input type="text" placeholder="মোবাইল নম্বর ">
               <textarea name="comment" id="comment" cols="38" rows="10" placeholder="মতামত লিখুন "></textarea>
               <div class="submit-btn">
                    <input type="submit" value="মতামত পাঠান ">
               </div>
           </form>
       </div>
    </div>
</div>

<app-footer></app-footer>

