// Global Fonts
h1, h2, h3, h4, h5, h6, p {
  font-family: 'SiyamRupali', sans-serif;
  color: #495464;
  font-weight: 900;
}

p {
  line-height: 1.8;
}


.top_part {
  display: flex;
  justify-content: space-around;
  padding: 5% 10%;

  //.top_part_container{
  //    z-index: 1;
  //}
  .title {
    width: 100%;
    text-align: center;

    h2 {
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      color: #707070;
      font-size: 35px;
      margin: 0;
    }
  }

  .card {
    margin-top: 60px;
    //margin-right: -70px;
    padding: 60px 40px;
    width: 480px;
    background-color: #71B9FB;
    //opacity: 0.6;
    border-radius: 20px;

    h3 {
      font-size: 28px;
      line-height: 1.15;
    }

    button {
      width: 200px;
      height: 40px;
      border-radius: 20px;
      border: none;
      color: #FFFFFF;
      background-color: #007BEB;
    }
  }

  img {
    //display: none;
    //z-index: -1;
    width: 500px;
    height: auto;
  }
}

.bottom_part {
  padding: 5% 10%;

  .title {
    h3 {
      text-align: center;
      font-size: 25px;
      margin-bottom: 40px;
    }
  }

  .bottom_part_container {
    display: flex;
    gap: 5%;

    .img {
      flex-basis: 50%;

      img {
        width: 500px;
        height: auto;
      }
    }

    .des {
      flex-basis: 50%;

      button {
        width: 150px;
        height: 35px;
        border-radius: 25px;
        border: none;
        background-color: #007BEB;
        color: white;
      }
    }
  }
}

main {
  .title {
    h2 {
      text-align: center;
      margin-top: 60px;
      font-size: 33px;
    }
  }

  .card_sec {
    background-color: #E6F3FF;
    padding: 5% 10%;

    .title {
      margin-bottom: 50px;
      text-align: center;

      h3 {
        font-size: 30px;
        font-weight: 900;
        margin: 0px 0px 5px 0px;
      }
    }

    .cards {
      display: flex;
      gap: 8%;
      flex-wrap: wrap;
      justify-content: center;

      .card {
        width: 250px;
        border-color: #707070;
        box-shadow: 0px 3px 23px #97A5FF;
        background-color: #FFFFFF;
        padding: 20px;
        text-align: center;
        border-radius: 20px;
        margin-bottom: 8%;

        img {
          width: 50px;
        }

        .card_title {
          font-size: 18px;
          font-weight: 900;
        }

        .card_des {
          font-size: 14px;
          color: #707070;
          font-weight: 100;
        }
      }
    }
  }

  .comment_carousel {

  }

  .client_carousel {
    padding: 5%;

    .title {
      h2 {
        font-weight: 500;
        margin-bottom: 50px;
      }
    }

    .carousel {
      display: flex;
      justify-content: center;
      gap: 3%;

      .carousel_one {
        width: 150px;
        height: 150px;
        border-radius: 10px;
        box-shadow: 0px 0px 12px #97A5FF;
      }
    }
  }
}

//Responsive design
@media screen and (max-width: 1200px) {
  .top_part{
    img{
      display: none;
    }
  }
  .bottom_part{
    .bottom_part_container{
      .img{
        img{
          width: 370px;
        }

      }
    }
  }
}

@media screen and (max-width: 992px) {
  .bottom_part{
    .bottom_part_container{
      flex-direction: column;
      //justify-content: center;
      align-items: center;
      gap: 30px;
    }
  }
}

@media screen and (max-width: 576px) {
  .top_part{
    .card{
      width: 100%;
    }
  }
  .bottom_part{
    .bottom_part_container{
      .img{
        img{
          width: 100%;
        }

      }
    }
  }
}
