<app-header>
    <div class="container">
        <div class="title">
            <h2>আমাদের সম্পর্কে</h2>
            <p> কিছু কথা...</p>
        </div>
        <img src="../../../assets/images/about.png" alt="">
    </div>
</app-header>
<main>
    <div class="title">
        <h2>আমাদের মিশন !</h2>
    </div>
    <app-article [card]="descriptions[0]"></app-article>
    <div class="title">
        <h2>আপনার সাফল্যের পেছনে আমাদের সেবা</h2>
    </div>
    <app-article [card]="descriptions[1]"></app-article>
</main>
<app-footer></app-footer>
